/** Civilians_EcoSec */

#civilians_ecosec{
  marker-fill: rgb(230,70,51);
  marker-line-color: #FFF;
  marker-line-width: 1;
  marker-line-opacity: 1;
  marker-opacity: 0.8;
  marker-placement: point;
  marker-type: ellipse;
  marker-allow-overlap: true;
  marker-clip: false;
  marker-multi-policy: largest;
}
#civilians_ecosec [ acesces > 1760616.0] {
   marker-width: 80.0;
}
#civilians_ecosec [ acesces <= 1760616.0] {
   marker-width: 40.0;
}
#civilians_ecosec [ acesces <= 1015491.25] {
   marker-width: 35.6;
}
#civilians_ecosec [ acesces <= 708209.0] {
   marker-width: 31.1;
}
#civilians_ecosec [ acesces <= 142672.0] {
   marker-width: 26.7;
}
#civilians_ecosec [ acesces <= 36277.0] {
   marker-width: 22.2;
}
#civilians_ecosec [ acesces <= 34111.0] {
   marker-width: 17.8;
}
#civilians_ecosec [ acesces <= 32536.0] {
   marker-width: 13.3;
}
#civilians_ecosec [ acesces <= 24590.0] {
   marker-width: 8.9;
}
#civilians_ecosec [ acesces <= 5718.0] {
   marker-width: 4.4;
}
#civilians_ecosec [ acesces <= 10.0] {
   marker-width: 0.0;
}